.small-heading{
    margin-top: 40px;
    margin-left: 300px;
}

.small-heading h4{
    color: orange;
}

.form-travel-pkg{
    display: flex;
    background: #FFFFFFFF;
    border-radius: 6px;
    box-shadow: 0px 1px 3px #6d6e70, 0px 0px 1px #171a1f;
    flex-direction: column;
    width: 61%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.col-divide{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.col-divide-left div{
    margin-left: 30px;
    margin-bottom: 10px;
}

.col-divide-right div{
    margin-right: 40px;
    margin-bottom: 10px;
}
.pkg-title{
    display: flex;
    flex-direction: column;
}

.small-header{
    margin-top: 20px;
    margin-left: 30px;
}

.tour-over{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.tour-over label{
    margin-left: 30px;
}
.tour-over textarea{
    
    width: 93%;
    margin: 0 auto;
    border-radius: 8px;
    height: 200px;
    margin-bottom: 20px;
}

.col-divide label{
    color: rgb(99, 97, 97);
    font-weight: 800;
}

.tour-over textarea{
    color: rgb(99, 97, 97);
    font-weight: 800;
}

.col-divide input{
    background-color: lightgray;
    outline: none;
    border: none;
    padding: 2px 150px 8px 2px;

}

.col-divide select{
    background-color: lightgray;
    outline: none;
    border: none;
    padding: 2px 150px 8px 2px;

}

.tour-over textarea{
    background-color: lightgray;
    outline: none;
    border: none;
   

}

.media-text{
    display: flex;
    align-items: center;
    
}

.small-txt{
    padding-left: 10px;
    padding-top: 17px;
    color: rgb(99, 97, 97);
}

.img-cardd{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    
}

.img-cardd div{
    height: 150px;
    width: 150px;
    background-color: #aeb1b6;
    border: 1px solid black;
    border-radius: 14px;
    margin-left: 20px;
}

.img-cardd img{
    height: 150px;
    width: 150px;
    background-color: lightgray;
    border-radius: 14px;
    margin-left: 20px;
}

.img-cardd input::file-selector-button
{
    color: red;
}


.file-upload-container {
    position: relative;
    display: inline-block;
    
  }
  
  .file-upload {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .file-upload-label {
    cursor: pointer;
    padding-left: 42.5px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border-radius: 14px;
    font-size: 100px;
    border: 3px dashed blue;
    
  }
  
  .img-preview{
   width: 150px;
   height: 150px;
    object-fit: cover;
    border-radius: 6px;
    border: none;
  }


  .next-btn{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
  }

  .next-btn button{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #29C3E5FF;
    background-color: #fff;
  }

  .next-btn button:hover{
    width: 200px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: 3px solid black;
    background-color: #29C3E5FF;
  }


  