.background-img-container{
    background-image: url('/public/adminlogin.png');
    /* background-color: aquamarine; */
    width: 100%;
    height: 645px;
    background-size: 100% 645px;
    object-fit: cover;
    position: relative;
    margin: 0;
    padding: 0;

}

/* .background-img-container::before{
    content: '';
  position: absolute;
  width: 100%;
  height: 645px;
  background-color: rgba(0, 0, 0, 0.3);
  filter: brightness(100%); 
  z-index: 1;
} */

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.font-title{
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.sub-title{
    color: white;
    font-weight: 500;
    filter: brightness(100%);
  
}

.titles{
    display: flex;
    flex-direction: column;
    
}


.inputs{
    display: flex;
    flex-direction: column;
    width: 340px;
}

.inputs input{
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius:4px;

}

.inputs button{
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius:4px;
    background-color: #179FBDFF;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;

}

.inputs button:hover{
    background-color: rgb(35, 140, 163); 
}

